.stymptoms {
  width: 40%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
}
.title {
  margin: 1rem 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid grey;
}
.body {
  margin: 0rem 1rem;
  border-bottom: 1px solid grey;
}
.bottom {
  margin: 1rem 1rem;
}
.ptagTitle {
  font-weight: bold;
}
.ptagContext {
  font-size: 0.9rem;
}
