.root {
  padding-top: 2rem;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.rootDarkmode {
  padding-top: 2rem;
  background-color: #44484d;
  color: rgb(240, 226, 226);
  display: flex;
  flex-direction: column;
  align-content: center;
}
.loading {
  text-align: center;
  height: 100vh;
}
.loadingSpinner {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  color: rgb(150, 58, 58);
}
